<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="100" android:versionName="3.3.1078" package="com.lbe.security.miui"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <permission android:name="com.lbe.hips.rpc" android:protectionLevel="signature" />
    <application android:theme="@*android:style/Theme.Holo.Light" android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.lbe.security.LBEApplication" android:persistent="true">
        <service android:name="com.lbe.security.service.SecurityService" android:enabled="true" android:exported="true" android:process=":service" />
        <activity android:theme="@*android:style/Theme.Holo.Light.NoActionBar" android:label="@string/app_name" android:name="com.lbe.security.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/Dashboard_Perm_AutoStart" android:icon="@drawable/ic_autostart" android:name="com.lbe.security.ui.AutoStartAppList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.lbe.security.ui.PermissionEntry" />
        <activity android:name="com.lbe.security.ui.MonitoredAppList" />
        <activity android:name="com.lbe.security.ui.LogList" />
        <activity android:name="com.lbe.security.ui.PermissionList" />
        <activity android:name="com.lbe.security.ui.PermissionListUnavailable" />
        <activity android:name="com.lbe.security.ui.PermissionListRoot" />
        <activity android:name="com.lbe.security.ui.PermissionListHIPS" />
        <activity android:name="com.lbe.security.ui.AppPermissionEditor" android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name="com.lbe.security.ui.PackageInstallerPermissionEditor">
            <intent-filter>
                <action android:name="com.lbe.security.intent.PACKAGE_INSTALLED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Holo.Light.Panel" android:name="com.lbe.security.ui.su.SuEnableDialog" android:enabled="true" android:exported="true" />
        <receiver android:name="com.lbe.security.service.optimizer.BootReceiver" android:enabled="true" android:process=":service">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lbe.security.service.privacy.HIPSReceiver" android:permission="com.lbe.hips.rpc" android:enabled="true" android:exported="true" android:process=":service">
            <intent-filter>
                <action android:name="com.lbe.security.intent.hips_service" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lbe.security.service.privacy.FWReceiver" android:enabled="true" android:exported="true" android:process=":service">
            <intent-filter>
                <action android:name="com.lbe.security.firewall2.getuidconfig" />
                <action android:name="com.lbe.security.firewall2.setuidconfig" />
            </intent-filter>
        </receiver>
        <provider android:name="com.lbe.security.service.privacy.DummyContentProvider" android:process=":service" android:authorities="com.lbe.security.miui.privacy.content" />
        <provider android:name="com.lbe.security.service.su.SuContentProvider" android:exported="true" android:process=":service" android:authorities="com.lbe.security.miui.su" />
    </application>
</manifest>